{{include 'default/public/headerNav.html'}}
<div class="wrapper">
  <main>
    <div class="aboutbox">
      <h2 class="place">您现在的位置是：网站首页> <a href="/">关于我</a></h2>
      <div class="abinfos">
        <h3>关于我</h3>
        <p>，女，一个80后草根女站长！09年入行。一直潜心研究web前端技术，一边工作一边积累经验，分享一些个人博客模板，以及SEO优化等心得。我入行早，大家也亲切的叫我&ldquo;青姐&rdquo;。</p>
        <p>SEO奋斗了将近两年时间，个人博客网站百度排名也从之前的30页后，排到了第一页。期间有很多的不容易，但是都没有放弃过。入了这一行，就深深的喜欢上它。我喜欢一句话&ldquo;冥冥中该来则来，无处可逃&rdquo;。</p>
        <p>近几年我也发现个人博客排前几页的也有很多是我做过的模板，感谢各位站长的欣赏，我仔细看过他们的网站。他们在我原模板的基础上有修改，而且他们做的原创内容都是值得一读的。有时候甚至排名都超过了我个人博客网站的排名。</p>
        <p> <img src="images/3.jpg"> </p>
        <p>现在很多人向我请教如何做好SEO，我想说的是，一是&ldquo;代码&rdquo;，一定要简单，布局要合理。二是&ldquo;内容&rdquo;，一定要有原创，伪原创也是可以的。三是&ldquo;持续&rdquo;，这是一个持续性过程，一定要有耐心，SEO不是马上生效的。</p>
        <p>自从入了这一行，也交到了不少朋友，QQ群也不断的壮大起来，280998807(交流群 已满员)&nbsp; 280998843（技术群），群里的小伙伴们也很积极的帮助新朋友解决问题，如果你想加入我们，这个大家庭的门，永远给你敞开！另外微信群已于2018.4.13日开通（已满100，只接受群主邀请，可加我个人微信进群 。我的个人微信号 yangqq_1987）</p>
        <p>&nbsp;</p>
        <h3>关于我的博客</h3>
        <p>域 名：www.yangqq.com 创建于2011年01月12日&nbsp;</p>
        <p>服务器：阿里云服务器&nbsp;&nbsp;<a href="https://promotion.aliyun.com/ntms/act/ambassador/sharetouser.html?userCode=8smrzoqa&productCode=vm" target="_blank"><strong style="color:#FF0000;">前往阿里云官网购买&gt;&gt;</strong></a></p>
        <p>备案号：蜀ICP备11002373号-1</p>
        <p>程 序：PHP 帝国CMS7.5</p>
      </div>
    </div>
  </main>
  <aside class="sidebar">
    <div class="about">
      <h2 class="hometitle">关于本站</h2>
      <ul>
        <div class="avatar"> <img src="images/tx.png" alt=""> </div>
        <p class="abname">dancesmile | </p>
        <p class="abtext"> 一个80后草根女站长！09年入行。一直潜心研究web前端技术，一边工作一边积累经验，分享一些个人博客模板，以及SEO优化等心得。 </p>
        <li><a class="xlwb" href="#" target="_blank"></a></li>
        <li><a class="txqq" href="" target="_blank"></a></li>
        <li><a class="rss" href="" target="_blank"></a></li>
        <li class="wxpic"><a class="wx" href=""></a><img src="images/grwx.png"></li>
      </ul>
    </div>
    <div class="tjlm">
      <h2 class="hometitle">推荐栏目</h2>
      <ul>
        <li><a href="about">关于我</a></li>
        <li><a href="share">模板分享</a></li>
        <li><a href="list">博客日记</a></li>
        <li><a href="info">慢生活</a></li>
        <li><a href="time">时间轴</a></li>
        <li><a href="#">美文欣赏</a></li>
      </ul>
    </div>
    <div class="tpjx">
      <h2 class="hometitle">图片精选</h2>
      <ul>
        <li><a href="#"><i><img src="images/1.jpg"></i><span>个人博客，属于我的小世界！</span></a></li>
        <li><a href="#"><i><img src="images/2.jpg"></i><span>个人博客，属于我的小世界！</span></a></li>
        <li><a href="#"><i><img src="images/3.jpg"></i><span>个人博客，属于我的小世界！</span></a></li>
        <li><a href="#"><i><img src="images/4.jpg"></i><span>个人博客，属于我的小世界！</span></a></li>
        <li><a href="#"><i><img src="images/5.jpg"></i><span>个人博客，属于我的小世界！</span></a></li>
        <li><a href="#"><i><img src="images/6.jpg"></i><span>个人博客，属于我的小世界！</span></a></li>
      </ul>
    </div>
  </aside>
  <!--sidebar end--> 
</div>
<!--wrapper end-->
<footer>
  <div class="footer">
    <div class="wxbox">
      <ul>
        <li><img src="default/images/grwx.png"><span>我的微信</span></li>
        <li><img src="default/images/wx.jpg"><span>微信公众号</span></li>
      </ul>
    </div>
    <div class="bzjj">
      <h2>本站简介</h2>
      <p>个人博客，是一个站在web前端设计之路的女程序员个人网站，提供个人博客模板免费资源下载的个人原创网站。</p>
    </div>
    <div class="other">
      <h2>网站版权</h2>
      <p>未经授权禁止转载、摘编、复制或建立镜像，如有违反，追究法律责任。举报邮箱：476847113@qq.com</p>
      <p>&nbsp;</p>
      <p>备案号：蜀ICP备11002373号-1</p>
    </div>
  </div>
</footer>
<a href="#" class="cd-top">Top</a>
</body>
</html>
