<!doctype html>
<html>
<head>
<meta charset="gbk">
<title>内容页_杨青个人博客 - 一个站在web前端设计之路的女技术员个人博客网站</title>
<meta name="keywords" content="个人博客,杨青个人博客,个人博客模板,杨青" />
<meta name="description" content="杨青个人博客，是一个站在web前端设计之路的女程序员个人网站，提供个人博客模板免费资源下载的个人原创网站。" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="default/css/base.css" rel="stylesheet">
<link href="default/css/index.css" rel="stylesheet">
<link href="default/css/m.css" rel="stylesheet">
<script src="default/js/jquery.min.js" ></script>
<script src="default/js/hc-sticky.js"></script>
<script src="default/js/comm.js"></script>
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<header id="header">
  <div class="navbar">
    <div class="topbox">
      <p class="welcome">这是文字详情页面，网站所有的详情页面都是统一的，设有简介、关键字词标签，点赞功能！</p>
      <div class="searchbox">
        <div id="search_bar" class="search_bar">
          <form  id="searchform" action="[!--news.url--]e/search/index.php" method="post" name="searchform">
            <input class="input" placeholder="想搜点什么呢.." type="text" name="keyboard" id="keyboard">
            <input type="hidden" name="show" value="title" />
            <input type="hidden" name="tempid" value="1" />
            <input type="hidden" name="tbname" value="news">
            <input type="hidden" name="Submit" value="搜索" />
            <p class="search_ico"> <span></span></p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="header-navigation">
    <nav>
      <div class="logo"><a href="http://www.yangqq.com">杨青个人博客</a></div>
      <h2 id="mnavh"><span class="navicon"></span></h2>
      <ul id="starlist">
        <li><a href="index">网站首页</a></li>
        <li><a href="about">关于我</a></li>
        <li><a href="share">模板分享</a></li>
        <li><a href="list">博客日记</a></li>
        <li class="menu"><a href="fengmian">学无止境</a>
          <ul class="sub">
            <li><a href="#">慢生活</a></li>
            <li><a href="#">美文欣赏</a></li>
          </ul>
        </li>
        <li><a href="info">慢生活</a></li>
        <li><a href="time">时间轴</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="wrapper">
  <main>
    <h2 class="place">您现在的位置是：网站首页&gt; <a href="/">内容页</a></h2>
    <div class="infosbox">
      <div class="newsview">
        <h3 class="news_title">制作个人博客，我是这么收费的？</h3>
        <div class="bloginfo">
          <ul>
            <li class="author"> </li>
            <li class="lmname">博客日记</li>
            <li class="timer">2018-07-05</li>
            <li class="view"><script src="/e/public/ViewClick/?classid=49&amp;id=884&amp;addclick=1"></script>297人已阅读</li>
          </ul>
        </div>
        <div class="tags"><a href="/e/tags/?tagname=%B8%F6%C8%CB%B2%A9%BF%CD&amp;tempid=13" target="_blank">个人博客</a> &nbsp; <a href="/e/tags/?tagname=%B5%DB%B9%FAcms&amp;tempid=13" target="_blank">帝国cms</a></div>
        <div class="news_about"><strong>简介</strong>有人会以为我是"高冷型"，no，错了，我是"好好型"的，从合作开始，我们之间的关系也不仅仅只有交易，在我看来，我们会是朋友。有些微信加了很久的网友，哪怕一句话也没说过，只要我们没有互相拉黑，有时间的见证，我们亦是朋友。</div>
        <div class="news_con">制作个人博客，我是这么收费的，<br>
          <br>
          1.FTP上传文件，耗时1-4小时，有些服务器快，上传时间短，但有些慢的，可以上传4小时时间。这期间，断线或者出现一个文件失败会卡半天，于是我会将这些文件移到最后，再重新传，直到全部传进去能够安装。<br>
          <br>
          2.有时候我也会解析域名，绑定服务器等小问题。因为客户太忙，又完全信任我，把所有账号信息都给我。所以我能做的工作都给做。<br>
          <br>
          3.模板安装，每一个站长的要求和审美是不一样的，比如有些想改改颜色，改改一些布局，删掉或者增减一些板块。我都一一统计，然后安装调试好。一般这种情况我都是没有加钱的。有时候可能会有更好的展现方式或者调用，我也会将之前做过的网站，默默修改好。所以，我也要求各大站长尽量能保存我的后台账号，便于我修改。<br>
          <br>
          4.模板安装好了，不仅要进行数据测试，还要将帝国系统默认的一些设置更改了，比如栏目文章存放路径，缓存登录时间和次数增加，上传文件类型增加jpg，默认的关键字词与tag同步，让动态页面支持标签调用等等，这些步骤操作我都是亲力亲为，所以有些自己安装套模板的站长，会说怎么达不到我这样的效果，而且还需要改改那么多。<br>
          <br> <img alt="" src="images/3.jpg">
          5.对于特别定制的网站页面，价钱是500，当然所有页面我不会拿出来共享，这也是保护网站的设计版权。定制网站，可以是仿站，也可以是原创，提供思路大概布局，订好方案就可以出设计，一般设计时间为两天，确认后到制作周期，会是一周到两周时间。期间随时可以沟通，修改方案。<br>
          <br>
          6.费用问题，我也是做过了一些调查，才是现在300这个价，不接受讲价。在外行看来，这个价钱贵，对于他们来说就是一个源码的问题，再看第三条和第四条，凭良心说，没有人可以做到我这样的。贵在哪里呢？贵的是专业，贵的是服务。我很感谢做过网站的站长以及我的同行们，他们也时不时会帮我推一些客户过来。还有些朋友，直接给了钱后，一直就没有消息了，我一直都记着，随时听候差遣，总感觉欠了什么。<br>
          <br>
          7.有人会以为我是"高冷型"，no，错了，我是"好好型"的，只要是合理的，我可以做到的，我都可以修改，直到满意。我不怕麻烦，就怕大家说不喜欢我做的模板。从合作开始，我们之间的关系也不仅仅只有交易，在我看来，我们会是朋友。有些微信加了很久的网友，哪怕一句话也没说过，只要我们没有互相拉黑，有时间的见证，我们亦是朋友。<br>
          <br>
          <img alt="" src="images/1.jpg"> </div>
      </div>
      <div class="share">
        <p class="diggit"><a href="JavaScript:makeRequest('/e/public/digg/?classid=49&amp;id=884&amp;dotop=1&amp;doajax=1&amp;ajaxarea=diggnum','EchoReturnedText','GET','');"> 很赞哦！ </a>(<b id="diggnum"><script type="text/javascript" src="/e/public/ViewClick/?classid=49&amp;id=884&amp;down=5"></script>19</b>)</p>
      </div>
      <div class="nextinfo">
        <p>上一篇：<a href="/blogs/876.html">个人博客，我为什么要用帝国cms？</a></p>
        <p>下一篇：<a href="/blogs/">返回列表</a></p>
      </div>
      <div class="otherlink">
        <h2>相关文章</h2>
        <ul>
          <li><a href="/download/div/2018-04-22/815.html" title="html5个人博客模板《黑色格调》">html5个人博客模板《黑色格调》</a></li>
          <li><a href="/download/div/2018-04-18/814.html" title="html5个人博客模板主题《清雅》">html5个人博客模板主题《清雅》</a></li>
          <li><a href="/download/div/2018-03-18/807.html" title="html5个人博客模板主题《绅士》">html5个人博客模板主题《绅士》</a></li>
          <li><a href="/download/div/2018-02-22/798.html" title="html5时尚个人博客模板-技术门户型">html5时尚个人博客模板-技术门户型</a></li>
          <li><a href="/download/div/2017-09-08/789.html" title="html5个人博客模板主题《心蓝时间轴》">html5个人博客模板主题《心蓝时间轴》</a></li>
          <li><a href="/download/div/2017-07-16/785.html" title="古典个人博客模板《江南墨卷》">古典个人博客模板《江南墨卷》</a></li>
          <li><a href="/download/div/2017-07-13/783.html" title="古典风格-个人博客模板">古典风格-个人博客模板</a></li>
          <li><a href="/download/div/2015-06-28/748.html" title="个人博客《草根寻梦》—手机版模板">个人博客《草根寻梦》—手机版模板</a></li>
          <li><a href="/download/div/2015-04-10/746.html" title="【活动作品】柠檬绿兔小白个人博客模板">【活动作品】柠檬绿兔小白个人博客模板</a></li>
          <li><a href="/jstt/bj/2015-01-09/740.html" title="【匆匆那些年】总结个人博客经历的这四年…">【匆匆那些年】总结个人博客经历的这四年…</a></li>
        </ul>
      </div>
      <div class="news_pl">
        <h2>文章评论</h2>
        <div class="gbko"> </div>
      </div>
    </div>
  </main>
  <aside class="sidebar">
    <div class="fenlei">
      <ul class="flnav">
        <li class="flselect"><a href="#" title="最新文章" class="pall"></a></li>
        <li><a href="#" title="站长推荐" class="pgood"></a></li>
        <li><a href="#" title="点击排行" class="pbro"></a></li>
        <li><a href="#" title="头条关注" class="pfav"></a></li>
      </ul>
    </div>
    <div class="newstw">
      <ul class="sidenews">
        <h2>最新文章</h2>
        <li> <i><img src="images/1.jpg"></i>
          <p><a href="/">别让这些闹心的套路，毁了你的网页设计</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/2.jpg"></i>
          <p><a href="/">给我模板PSD源文件，我给你设计HTML！</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/3.jpg"></i>
          <p><a href="/">html5个人博客模板《More》</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/4.jpg"></i>
          <p><a href="/">html5古典个人博客模板《青砖屋檐》</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/5.jpg"></i>
          <p><a href="/">html5个人博客模板主题《心蓝时间轴》</a></p>
          <span>2018-05-13</span> </li>
      </ul>
      <ul class="sidenews">
        <h2>站长推荐</h2>
        <li> <i><img src="images/6.jpg"></i>
          <p><a href="/">别让这些闹心的套路，毁了你的网页设计</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/7.jpg"></i>
          <p><a href="/">给我模板PSD源文件，我给你设计HTML！</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/8.jpg"></i>
          <p><a href="/">别让这些闹心的套路，毁了你的网页设计</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/9.jpg"></i>
          <p><a href="/">给我模板PSD源文件，我给你设计HTML！</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/10.jpg"></i>
          <p><a href="/">给我模板PSD源文件，我给你设计HTML！</a></p>
          <span>2018-05-13</span> </li>
      </ul>
      <ul class="sidenews">
        <h2>点击排行</h2>
        <li> <i><img src="images/1.jpg"></i>
          <p><a href="/">别让这些闹心的套路，毁了你的网页设计</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/2.jpg"></i>
          <p><a href="/">给我模板PSD源文件，我给你设计HTML！</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/3.jpg"></i>
          <p><a href="/">html5个人博客模板《More》</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/4.jpg"></i>
          <p><a href="/">html5古典个人博客模板《青砖屋檐》</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/5.jpg"></i>
          <p><a href="/">html5个人博客模板主题《心蓝时间轴》</a></p>
          <span>2018-05-13</span> </li>
      </ul>
      <ul class="sidenews">
        <h2>头条关注</h2>
        <li> <i><img src="images/12.jpg"></i>
          <p><a href="/">个人博客《草根寻梦》—手机版模板</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/11.jpg"></i>
          <p><a href="/">安静地做一个爱设计的女子</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/10.jpg"></i>
          <p><a href="/">个人博客，属于我的小世界！</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/9.jpg"></i>
          <p><a href="/">作为一个设计师,如果遭到质疑你是否能恪守自己的原则?</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/8.jpg"></i>
          <p><a href="/">Come on,行动起来吧!我们和时间来一场赛跑!</a></p>
          <span>2018-05-13</span> </li>
      </ul>
    </div>
    <div class="ad"> <img src="images/7.jpg"> </div>
    <div class="about">
      <h2 class="hometitle">关于本站</h2>
      <ul>
        <div class="avatar"> <img src="images/tx.png" alt=""> </div>
        <p class="abname">dancesmile | 杨青</p>
        <p class="abtext"> 一个80后草根女站长！09年入行。一直潜心研究web前端技术，一边工作一边积累经验，分享一些个人博客模板，以及SEO优化等心得。 </p>
        <li><a class="xlwb" href="#" target="_blank"></a></li>
        <li><a class="txqq" href="" target="_blank"></a></li>
        <li><a class="rss" href="" target="_blank"></a></li>
        <li class="wxpic"><a class="wx" href=""></a><img src="images/grwx.png"></li>
      </ul>
    </div>
    <div class="tjlm">
      <h2 class="hometitle">推荐栏目</h2>
      <ul>
        <li><a href="about">关于我</a></li>
        <li><a href="share">模板分享</a></li>
        <li><a href="list">博客日记</a></li>
        <li><a href="info">慢生活</a></li>
        <li><a href="time">时间轴</a></li>
        <li><a href="#">美文欣赏</a></li>
      </ul>
    </div>
    <div class="tpjx">
      <h2 class="hometitle">图片精选</h2>
      <ul>
        <li><a href="#"><i><img src="images/1.jpg"></i><span>个人博客，属于我的小世界！</span></a></li>
        <li><a href="#"><i><img src="images/2.jpg"></i><span>个人博客，属于我的小世界！</span></a></li>
        <li><a href="#"><i><img src="images/3.jpg"></i><span>个人博客，属于我的小世界！</span></a></li>
        <li><a href="#"><i><img src="images/4.jpg"></i><span>个人博客，属于我的小世界！</span></a></li>
        <li><a href="#"><i><img src="images/5.jpg"></i><span>个人博客，属于我的小世界！</span></a></li>
        <li><a href="#"><i><img src="images/6.jpg"></i><span>个人博客，属于我的小世界！</span></a></li>
      </ul>
    </div>
    <div class="ad"> <img src="default/images/8.jpg"> </div>
  </aside>
  <!--sidebar end--> 
</div>
<!--wrapper end-->
<footer>
  <div class="footer">
    <div class="wxbox">
      <ul>
        <li><img src="default/images/grwx.png"><span>我的微信</span></li>
        <li><img src="default/images/wx.jpg"><span>微信公众号</span></li>
      </ul>
    </div>
    <div class="bzjj">
      <h2>本站简介</h2>
      <p>杨青个人博客，是一个站在web前端设计之路的女程序员个人网站，提供个人博客模板免费资源下载的个人原创网站。</p>
    </div>
    <div class="other">
      <h2>网站版权</h2>
      <p>未经授权禁止转载、摘编、复制或建立镜像，如有违反，追究法律责任。举报邮箱：476847113@qq.com</p>
      <p>&nbsp;</p>
      <p>备案号：蜀ICP备11002373号-1</p>
    </div>
  </div>
</footer>
<a href="#" class="cd-top">Top</a>
</body>
</html>
