<!doctype html>
<html>
<head>
<meta charset="gbk">
<title>模板分享_杨青个人博客 - 一个站在web前端设计之路的女技术员个人博客网站</title>
<meta name="keywords" content="个人博客,杨青个人博客,个人博客模板,杨青" />
<meta name="description" content="杨青个人博客，是一个站在web前端设计之路的女程序员个人网站，提供个人博客模板免费资源下载的个人原创网站。" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="default/css/base.css" rel="stylesheet">
<link href="default/css/index.css" rel="stylesheet">
<link href="default/css/m.css" rel="stylesheet">
<script src="default/js/jquery.min.js" ></script>
<script src="default/js/hc-sticky.js"></script>
<script src="default/js/comm.js"></script>
<!--[if lt IE 9]>
<script src="js/modernizr.js"></script>
<![endif]-->
</head>
<body>
<header id="header">
  <div class="navbar">
    <div class="topbox">
      <p class="welcome">栅栏风格排版，图片与文字的完美结合，又是一格特别的布局，让网站保持新鲜感！</p>
      <div class="searchbox">
        <div id="search_bar" class="search_bar">
          <form  id="searchform" action="[!--news.url--]e/search/index.php" method="post" name="searchform">
            <input class="input" placeholder="想搜点什么呢.." type="text" name="keyboard" id="keyboard">
            <input type="hidden" name="show" value="title" />
            <input type="hidden" name="tempid" value="1" />
            <input type="hidden" name="tbname" value="news">
            <input type="hidden" name="Submit" value="搜索" />
            <p class="search_ico"> <span></span></p>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="header-navigation">
    <nav>
      <div class="logo"><a href="http://www.yangqq.com">杨青个人博客</a></div>
      <h2 id="mnavh"><span class="navicon"></span></h2>
      <ul id="starlist">
        <li><a href="index">网站首页</a></li>
        <li><a href="about">关于我</a></li>
        <li><a href="share">模板分享</a></li>
        <li><a href="list">博客日记</a></li>
        <li class="menu"><a href="fengmian">学无止境</a>
          <ul class="sub">
            <li><a href="#">慢生活</a></li>
            <li><a href="#">美文欣赏</a></li>
          </ul>
        </li>
        <li><a href="info">慢生活</a></li>
        <li><a href="time">时间轴</a></li>
      </ul>
    </nav>
  </div>
</header>
<div class="wrapper">
  <main>
   <h2 class="place">您现在的位置是：网站首页&gt; <a href="/">模板分享</a></h2>
    <div class="sharelist">
   
<ul>
        <li>
          <div class="tpic"><img src="images/1.jpg"></div>
          <b>6条网页设计配色原则,让你秒变配色高手</b><span>网页设计好不好看,颜色是毋庸置疑要排首位的,所以关于颜色的搭配技巧以及原则,对于每一个要学习web前端设计的新手来说,这都是一个重要的学习过程.在本教程中我们将与你分享...</span><a href="/" class="readmore">阅读原文</a></li>
        <li>
          <div class="tpic"><img src="images/2.jpg"></div>
          <b>作为一个设计师,如果遭到质疑你是否能恪守自己的原则</b><span>就拿我自己来说吧，有时候会很矛盾，设计好的作品，不把它分享出来，会觉得待在自己电脑里面实在是没有意义...</span><a href="/" class="readmore">阅读原文</a></li>
        <li>
          <div class="tpic"><img src="images/3.jpg"></div>
          <b>愿有人陪你一起颠沛流离</b><span>有一天晚上我收到朋友的邮件，他问我怎样可以最快地摆脱寂寞，我想了想不知道应该怎么回答他，因为我从来没有摆脱过这个问题，我只能去习惯它，就像习惯身体的一部分...</span><a href="/" class="readmore">阅读原文</a></li>
        <li>
          <div class="tpic"><img src="images/4.jpg"></div>
          <b>你要去相信，没有到不了的明天</b><span>不管你现在是一个人走在异乡的街道上始终没有找到一丝归属感，还是你在跟朋友们一起吃饭开心地笑着的时候闪过一丝落寞。...</span><a href="/" class="readmore">阅读原文</a></li>
        <li>
          <div class="tpic"><img src="images/5.jpg"></div>
          <b>美丽的茧</b><span>让世界拥有它的脚步，让我保有我的茧。当溃烂已极的心灵再不想做一丝一毫的思索时，就让我静静回到我的茧内，以回忆为睡榻，以悲哀为覆被，这是我唯一的美丽。...</span><a href="/" class="readmore">阅读原文</a></li>
        <li>
          <div class="tpic"><img src="images/6.jpg"></div>
          <b>6条网页设计配色原则,让你秒变配色高手</b><span>网页设计好不好看,颜色是毋庸置疑要排首位的,所以关于颜色的搭配技巧以及原则,对于每一个要学习web前端设计的新手来说,这都是一个重要的学习过程.在本教程中我们将与你分享...</span><a href="/" class="readmore">阅读原文</a></li>
                  <li>
          <div class="tpic"><img src="images/7.jpg"></div>
          <b>6条网页设计配色原则,让你秒变配色高手</b><span>网页设计好不好看,颜色是毋庸置疑要排首位的,所以关于颜色的搭配技巧以及原则,对于每一个要学习web前端设计的新手来说,这都是一个重要的学习过程.在本教程中我们将与你分享...</span><a href="/" class="readmore">阅读原文</a></li>
        <li>
          <div class="tpic"><img src="images/8.jpg"></div>
          <b>作为一个设计师,如果遭到质疑你是否能恪守自己的原则</b><span>就拿我自己来说吧，有时候会很矛盾，设计好的作品，不把它分享出来，会觉得待在自己电脑里面实在是没有意义...</span><a href="/" class="readmore">阅读原文</a></li>
        <li>
          <div class="tpic"><img src="images/9.jpg"></div>
          <b>愿有人陪你一起颠沛流离</b><span>有一天晚上我收到朋友的邮件，他问我怎样可以最快地摆脱寂寞，我想了想不知道应该怎么回答他，因为我从来没有摆脱过这个问题，我只能去习惯它，就像习惯身体的一部分...</span><a href="/" class="readmore">阅读原文</a></li>
        <li>
          <div class="tpic"><img src="images/10.jpg"></div>
          <b>你要去相信，没有到不了的明天</b><span>不管你现在是一个人走在异乡的街道上始终没有找到一丝归属感，还是你在跟朋友们一起吃饭开心地笑着的时候闪过一丝落寞。...</span><a href="/" class="readmore">阅读原文</a></li>        <li>
          <div class="tpic"><img src="images/3.jpg"></div>
          <b>愿有人陪你一起颠沛流离</b><span>有一天晚上我收到朋友的邮件，他问我怎样可以最快地摆脱寂寞，我想了想不知道应该怎么回答他，因为我从来没有摆脱过这个问题，我只能去习惯它，就像习惯身体的一部分...</span><a href="/" class="readmore">阅读原文</a></li>
        <li>
          <div class="tpic"><img src="images/4.jpg"></div>
          <b>你要去相信，没有到不了的明天</b><span>不管你现在是一个人走在异乡的街道上始终没有找到一丝归属感，还是你在跟朋友们一起吃饭开心地笑着的时候闪过一丝落寞。...</span><a href="/" class="readmore">阅读原文</a></li>
        <li>
          <div class="tpic"><img src="images/5.jpg"></div>
          <b>美丽的茧</b><span>让世界拥有它的脚步，让我保有我的茧。当溃烂已极的心灵再不想做一丝一毫的思索时，就让我静静回到我的茧内，以回忆为睡榻，以悲哀为覆被，这是我唯一的美丽。...</span><a href="/" class="readmore">阅读原文</a></li>
        <li>
          <div class="tpic"><img src="images/6.jpg"></div>
          <b>6条网页设计配色原则,让你秒变配色高手</b><span>网页设计好不好看,颜色是毋庸置疑要排首位的,所以关于颜色的搭配技巧以及原则,对于每一个要学习web前端设计的新手来说,这都是一个重要的学习过程.在本教程中我们将与你分享...</span><a href="/" class="readmore">阅读原文</a></li>
                  <li>
          <div class="tpic"><img src="images/7.jpg"></div>
          <b>6条网页设计配色原则,让你秒变配色高手</b><span>网页设计好不好看,颜色是毋庸置疑要排首位的,所以关于颜色的搭配技巧以及原则,对于每一个要学习web前端设计的新手来说,这都是一个重要的学习过程.在本教程中我们将与你分享...</span><a href="/" class="readmore">阅读原文</a></li>
        <li>
          <div class="tpic"><img src="images/8.jpg"></div>
          <b>作为一个设计师,如果遭到质疑你是否能恪守自己的原则</b><span>就拿我自己来说吧，有时候会很矛盾，设计好的作品，不把它分享出来，会觉得待在自己电脑里面实在是没有意义...</span><a href="/" class="readmore">阅读原文</a></li>
        <li>
          <div class="tpic"><img src="images/11.jpg"></div>
          <b>美丽的茧</b><span>让世界拥有它的脚步，让我保有我的茧。当溃烂已极的心灵再不想做一丝一毫的思索时，就让我静静回到我的茧内，以回忆为睡榻，以悲哀为覆被，这是我唯一的美丽。...</span><a href="/" class="readmore">阅读原文</a></li>
        <li>
          <div class="tpic"><img src="images/12.jpg"></div>
          <b>6条网页设计配色原则,让你秒变配色高手</b><span>网页设计好不好看,颜色是毋庸置疑要排首位的,所以关于颜色的搭配技巧以及原则,对于每一个要学习web前端设计的新手来说,这都是一个重要的学习过程.在本教程中我们将与你分享...</span><a href="/" class="readmore">阅读原文</a></li>
      </ul>
    </div>
    <!--bloglist end--> 
    <div class="pagelist"><a title="Total record">&nbsp;<b>163</b> </a>&nbsp;&nbsp;&nbsp;<b>1</b>&nbsp;<a href="/jstt/index_2.html">2</a>&nbsp;<a href="/jstt/index_3.html">3</a>&nbsp;<a href="/jstt/index_4.html">4</a>&nbsp;<a href="/jstt/index_5.html">5</a>&nbsp;<a href="/jstt/index_6.html">6</a>&nbsp;<a href="/jstt/index_2.html">下一页</a>&nbsp;<a href="/jstt/index_14.html">尾页</a></div>
  </main>
  <aside class="sidebar">
    <div class="fenlei">
      <ul class="flnav">
        <li class="flselect"><a href="#" title="最新文章" class="pall"></a></li>
        <li><a href="#" title="站长推荐" class="pgood"></a></li>
        <li><a href="#" title="点击排行" class="pbro"></a></li>
        <li><a href="#" title="头条关注" class="pfav"></a></li>
      </ul>
    </div>
    <div class="newstw">
      <ul class="sidenews">
        <h2>最新文章</h2>
        <li> <i><img src="images/1.jpg"></i>
          <p><a href="/">别让这些闹心的套路，毁了你的网页设计</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/2.jpg"></i>
          <p><a href="/">给我模板PSD源文件，我给你设计HTML！</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/3.jpg"></i>
          <p><a href="/">html5个人博客模板《More》</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/4.jpg"></i>
          <p><a href="/">html5古典个人博客模板《青砖屋檐》</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/5.jpg"></i>
          <p><a href="/">html5个人博客模板主题《心蓝时间轴》</a></p>
          <span>2018-05-13</span> </li>
      </ul>
      <ul class="sidenews">
        <h2>站长推荐</h2>
        <li> <i><img src="images/6.jpg"></i>
          <p><a href="/">别让这些闹心的套路，毁了你的网页设计</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/7.jpg"></i>
          <p><a href="/">给我模板PSD源文件，我给你设计HTML！</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/8.jpg"></i>
          <p><a href="/">别让这些闹心的套路，毁了你的网页设计</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/9.jpg"></i>
          <p><a href="/">给我模板PSD源文件，我给你设计HTML！</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/10.jpg"></i>
          <p><a href="/">给我模板PSD源文件，我给你设计HTML！</a></p>
          <span>2018-05-13</span> </li>
      </ul>
      <ul class="sidenews">
        <h2>点击排行</h2>
        <li> <i><img src="images/1.jpg"></i>
          <p><a href="/">别让这些闹心的套路，毁了你的网页设计</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/2.jpg"></i>
          <p><a href="/">给我模板PSD源文件，我给你设计HTML！</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/3.jpg"></i>
          <p><a href="/">html5个人博客模板《More》</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/4.jpg"></i>
          <p><a href="/">html5古典个人博客模板《青砖屋檐》</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/5.jpg"></i>
          <p><a href="/">html5个人博客模板主题《心蓝时间轴》</a></p>
          <span>2018-05-13</span> </li>
      </ul>
      <ul class="sidenews">
        <h2>头条关注</h2>
        <li> <i><img src="images/12.jpg"></i>
          <p><a href="/">个人博客《草根寻梦》—手机版模板</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/11.jpg"></i>
          <p><a href="/">安静地做一个爱设计的女子</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/10.jpg"></i>
          <p><a href="/">个人博客，属于我的小世界！</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/9.jpg"></i>
          <p><a href="/">作为一个设计师,如果遭到质疑你是否能恪守自己的原则?</a></p>
          <span>2018-05-13</span> </li>
        <li> <i><img src="images/8.jpg"></i>
          <p><a href="/">Come on,行动起来吧!我们和时间来一场赛跑!</a></p>
          <span>2018-05-13</span> </li>
      </ul>
    </div>
    <div class="ad"> <img src="images/7.jpg"> </div>
    <div class="about">
      <h2 class="hometitle">关于本站</h2>
      <ul>
        <div class="avatar"> <img src="images/tx.png" alt=""> </div>
        <p class="abname">dancesmile | 杨青</p>
        <p class="abtext"> 一个80后草根女站长！09年入行。一直潜心研究web前端技术，一边工作一边积累经验，分享一些个人博客模板，以及SEO优化等心得。 </p>
        <li><a class="xlwb" href="#" target="_blank"></a></li>
        <li><a class="txqq" href="" target="_blank"></a></li>
        <li><a class="rss" href="" target="_blank"></a></li>
        <li class="wxpic"><a class="wx" href=""></a><img src="images/grwx.png"></li>
      </ul>
    </div>
    <div class="tjlm">
      <h2 class="hometitle">推荐栏目</h2>
      <ul>
        <li><a href="about">关于我</a></li>
        <li><a href="share">模板分享</a></li>
        <li><a href="list">博客日记</a></li>
        <li><a href="info">慢生活</a></li>
        <li><a href="time">时间轴</a></li>
        <li><a href="#">美文欣赏</a></li>
      </ul>
    </div>
    <div class="tpjx">
      <h2 class="hometitle">图片精选</h2>
      <ul>
        <li><a href="#"><i><img src="images/1.jpg"></i><span>个人博客，属于我的小世界！</span></a></li>
        <li><a href="#"><i><img src="images/2.jpg"></i><span>个人博客，属于我的小世界！</span></a></li>
        <li><a href="#"><i><img src="images/3.jpg"></i><span>个人博客，属于我的小世界！</span></a></li>
        <li><a href="#"><i><img src="images/4.jpg"></i><span>个人博客，属于我的小世界！</span></a></li>
        <li><a href="#"><i><img src="images/5.jpg"></i><span>个人博客，属于我的小世界！</span></a></li>
        <li><a href="#"><i><img src="images/6.jpg"></i><span>个人博客，属于我的小世界！</span></a></li>
      </ul>
    </div>
    <div class="ad"> <img src="images/8.jpg"> </div>
  </aside>
  <!--sidebar end--> 
</div>
<!--wrapper end-->
<footer>
  <div class="footer">
    <div class="wxbox">
      <ul>
        <li><img src="default/images/grwx.png"><span>我的微信</span></li>
        <li><img src="default/images/wx.jpg"><span>微信公众号</span></li>
      </ul>
    </div>
    <div class="bzjj">
      <h2>本站简介</h2>
      <p>杨青个人博客，是一个站在web前端设计之路的女程序员个人网站，提供个人博客模板免费资源下载的个人原创网站。</p>
    </div>
    <div class="other">
      <h2>网站版权</h2>
      <p>未经授权禁止转载、摘编、复制或建立镜像，如有违反，追究法律责任。举报邮箱：476847113@qq.com</p>
      <p>&nbsp;</p>
      <p>备案号：蜀ICP备11002373号-1</p>
    </div>
  </div>
</footer>
<a href="#" class="cd-top">Top</a>
</body>
</html>
